/* Scroll-triggered animation */
.animate-on-scroll {
  opacity: 0;
  transform: translateY(24px);
  transition: all 1.2s ease-out;
}
.fade-in {
  opacity: 1;
  transform: scale(1);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}
.fade-out {
  opacity: 0;
  transform: scale(1);
  transition: opacity 2.9s ease-in-out, transform 0.3s ease-in-out;
}

/* Hide scrollbar for aesthetic scroll */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

/* Card Hover (scale + z-index boost) */
.zoom-card {
  transition: transform 0.55s ease-in-out;
}
.zoom-card:hover {
  transform: scale(1.025);
  z-index: 10;
}

.section-content-responsive {
  margin-inline-start: auto;
  margin-inline-end: auto;
  width: 87.5vw;
  max-width: 1680px;
}

@media (min-width: 735px) {
  .section-header {
    align-items: flex-end;
  }
}

.accordion-wrapper {
  background-color: #d8d5cc4d;
  border-radius: 28px;
  margin-top: 2rem;
  --accordion-side-padding: 90px;
  --accordion-width: 350px;
  --accordion-content-width: 323px;
}
@media (min-width: 1069px) {
  .content-container {
    display: grid;
    grid-template-columns: calc(var(--accordion-width) + var(--accordion-side-padding) * 2) 1fr;
    align-items: start;
    gap: 2rem;
    overflow: hidden;
    min-height: 784px;
  }
}
@media (min-width: 1441px) {
  .accordion-wrapper {
    --accordion-side-padding: 120px;
  }
}
.accordion-wrapper {
  border-radius: 28px;
  --accordion-side-padding: 90px;
  --accordion-width: 350px;
  --accordion-content-width: 323px;
  margin-top: 26px;
}

.accordion-pane .accordion {
  min-height: 520px;
  height: auto;
  width: auto;
}
@media (min-width: 1069px) {
  .accordion {
    width: 360px;
  }
}
.accordion {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  height: 516px;
  padding: 100px;
  --accordion-button-padding-top: 1em;
  --accordion-button-padding-bottom: 1em;
  --accordion-border-color: rgb(210,210,215);
  --accordion-border-width: 1px;
  --accordion-content-padding-top: 0;
  --accordion-content-padding-bottom: 1em;
  --accordion-content-paragraph-max-width: 83.3333333333%;
  --accordion-content-paragraph-padding-top: 0;
  --accordion-content-paragraph-padding-bottom: 0.8em;
  --accordion-icon-color: rgb(134,134,139);
  --accordion-icon-color-hover: rgb(110,110,115);
  --accordion-icon-width: 1em;
  --accordion-icon-height: auto;
  --accordion-icon-stroke-width: 2.25;
  --accordion-icon-svg-width: 1em;
  --accordion-title-max-width: 83.3333333333%;
  --accordion-transition-duration: 400ms;
  margin: 0;
  list-style: none;
}
ol, ul {
  margin-inline-start: 1.1764705882em;
}

.accordion-item:first-of-type {
  border-top: none;
}
.accordion-item:first-child {
  --accordion-border-width: 0;
}
.accordion-item {
  font-size: 24px;
  line-height: 1.3666666667;
  font-weight: 600;
  letter-spacing: .0015em;
  font-family: Arial, SF Pro Display,SF Pro Icons,Helvetica Neue,Helvetica,sans-serif;
  border-color: var(--accordion-border-color);
  border-top: var(--accordion-border-width) solid var(--accordion-border-color);
}

.accordion-title {
  font-size: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  font-family: Arial, SF Pro Display,SF Pro Icons,Helvetica Neue,Helvetica,sans-serif;
}
.accordion-button {
  letter-spacing: inherit;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
  position: relative;
  padding-top: var(--accordion-button-padding-top);
  padding-bottom: var(--accordion-button-padding-bottom);
  margin-top: 1em;
}

.accordion-title-text {
  font-size: 25px;
  line-height: 1.1428571429;
  font-weight: 500;
  letter-spacing: .015em;
  font-family: sans-serif, Arial, SF Pro Display,SF Pro Icons,Helvetica Neue,Helvetica;
}

.accordion-title .accordion-title-text {
  max-width: var(--accordion-title-max-width);
}
.accordion .accordion-item .accordion-button .accordion-title-text {
  text-align: start;
}

.accordion-item.expanded > .accordion-tray {
  overflow: visible;
}

.accordion-tray {
  margin:0;
  transition: height ease-in-out;
  transition-duration:800ms
}

.accordion-content {
  display:flex;
  flex-direction:column
}
@media(min-width:1069px) {
  .accordion-content {
    width:var(--accordion-content-width)
  }
}

.accordion-tray .accordion-content .accordion-paragraph-text {
  font-size:17px;
  line-height:1.4705882353;
  font-weight:400;
  letter-spacing:0.002em;
  font-family: sans-serif, Arial, SF Pro Display,SF Pro Icons,Helvetica Neue,Helvetica,;
}
.accordion-icon {
  display: inline-block;
  transition: transform 0.9s ease;
}

.accordion-icon.rotate-45 {
  transform: rotate(45deg);
}

.accordion-item.expanded .accordion-icon {
  transform: rotate(45deg);
}

.image-container-large {
  display: none;
  pointer-events: none;
}
@media (min-width: 1069px) {
  .image-container-large {
    display: flex;
    position: relative;
    justify-content: left;
    align-items: center;
    margin-top: 0;
  }
}


.accordion-content .image-container img {
  max-width:100%
}

@media (min-width: 1069px) {
  .template-image-large:not(.hidden) {
    position: relative;
  }
}
.template-image-large {
  position: absolute;
}

.accordion-content-animate {
  opacity: 0;
  transform: translateY(24px);
  transition: opacity 0.2s ease, transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  will-change: opacity, transform, ease-in-out;
}

.accordion-content-animate.open {
  opacity: 1;
  transform: translateY(0);
}