@tailwind base;
@tailwind components;
@tailwind utilities;

/* Animation classes */
.animate-on-scroll {
  opacity: 0;
  transform: translateY(24px);
  transition: opacity 2s ease-out, transform 2s ease-out;
}

.fade-in {
  opacity: 1 !important;
  transform: translateY(0) !important;
}

/* Hide scrollbars */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
